<form action="/register" method="post">
	<div>
		<label>Name</label>
		<input type="text" name="name" placeholder="enter name" required>
	</div>

	<div>
		<label>Username</label>
		<input type="text" name="username" placeholder="enter user name" required>
	</div>

	<div>
		<label>Email</label>
		<input type="email" name="email" placeholder="enter email" required>
	</div>

	<div>
		<label>Password</label>
		<input type="text" name="password" placeholder="enter password" required>
	</div>

	<div>
		<label>Confirm Password</label>
		<input type="text" name="password2" placeholder="re-enter password" required>
	</div>

	<button type="submit">Register</button>

	Have an account? <a href="/">Log in now!</a>
</form>

<main>	
	<h1>this is a test to see what renders</h1>
	<p>this is some generic stuff in handlebars, on the index page</p>
	<strong>this should render in the body tag</strong>
</main>

